*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore{
  background: rgb(52,149,112);
  background: linear-gradient(180deg, rgba(0,150,136,255) 15%, rgb(215,219,213) 15%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  margin: 0 auto;
  width: 80%;
  height: 90%;
  display: flex;
}

.container-contatti{
  width: 30%;
  height: 100%;
  background-color: white;

}

.container-chat{
  width: 70%;
  height: 100%;
  background-color: white;

}

.utente{
  height: 10%;
  padding: 10px;
  background-color: rgb(235, 235, 235);
}

.utente i,
.info-chat i,
.area-testo i{
  font-size: 20px;
  color: grey;
  margin-left: 10px;
  cursor: pointer;
}

.mio-profilo{
height: 100%;
}

img{
  height: 100%;
}

.notifiche{
  background-color: #8edafc;
  height: 10%;
}
.notifiche i{
  color: lightskyblue;
  background-color: white;
  font-size: 20px;
  padding: 10px 8px;
  margin: 15px;
  cursor: pointer;
}

.notifiche a, 
.ultimo-msg, 
.ultimo-accesso{
  color: lightslategray;
  font-size: 13px;
}

.notifiche span{
  display: block;
  font-size: 15px;
  font-weight: 500;
}
.cerca-contatti{
  height: 7%;
  background-color: rgb(244, 244, 244);
}
.lista-chat{
  height: 73%;
  overflow: auto;
}

ul{
  height: 100%;
}
li{
  height: 13%;
}

li:hover{
  background-color: lightgray;
}

.info-chat{
  height: 10%;
  background-color: rgb(237, 235, 235);
}

.main-chat{
  height: 80%;
  background-image: url(../img/mine.jpg);
}
.messaggi{
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
}

.container-mio-msg, .container-msg-ricevuto{
  width: 100%;
  display: flex;
  align-items: center;
}
.container-mio-msg{
  justify-content: flex-end;
}
.container-msg-ricevuto{
  justify-content: flex-start;
}
.mio-messaggio, .messaggio-ricevuto{
  display: flex;
  align-items: center;
  max-width: 50%;
  width: auto;
  padding: 8px 8px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}
.mio-messaggio{
  background-color: #d5f9ba;
}

.messaggio-ricevuto{
  background-color: rgb(255, 255, 255);
}
.testo{
  margin-right: 35px;
}

.orario{
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 10px;
  color: rgb(131, 131, 131);
}
.area-testo{
  height: 10%;
  background-color: #f3eeea;
}