*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background: rgb(52,149,112);
  background: linear-gradient(180deg, rgba(0,150,136,255) 15%, rgb(215,219,213) 15%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  margin: 0 auto;
  width: 80%;
  height: 95%;
  border: solid red 2px;
  display: flex;
}

.container-contatti{
  width: 30%;
  border: solid blue 5px;
  background-color: white;

}

.container-chat{
  width: 70%;
  border: solid green 5px;
  background-color: white;

}

